
  /* Extra resets */
  /* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
   *, *:before, *:after {
    box-sizing: inherit;
  } 

 /* header area */
 
 .top {
   display: flex;
   justify-content: space-between;
    height: 90px; 
   
   
 
   
 }
 .aloha-icon {
   /* width: 50%;
   height: auto;
   padding-left: 15%;
   padding-top: 4%; */

  
  width: 250px;
  height: 150px;
  padding-left: 100px;
  padding-bottom: 60px;
   
}
.cart-icon {
  

 width: 120px;
 height: 120px;
 padding-right: 60px;
 padding-bottom: 40px;
}
.directory h5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
  
  color: #e2574c;
  font-family: Ralway,sans-serif;
  text-transform: uppercase;
  
  
 }
 


  /* banner area */
 
 
 .banner { 
  width: 100%;
  height: 35vw;
  margin: 0%;
  border-style: solid;
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/banner-girl.png),url(../images/flower-bkgd.jpg);
  background-repeat: repeat,no-repeat,repeat;
  background-size: cover,250px,contain;
  
  background-position: center,center 60px,center;
  display: flex;
  justify-content: center ;
  
 } 
.banner-text{
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 50px;
} 
.new-colection {
  font-family: 'Open Sans', sans-serif;
  color: white;
  align-self: center;
  font-size: 22px;
  text-transform: uppercase;

  
  
}
.spring-summer {
  color: white;
  align-self: center;
  font-size: 75px;
}
  






 
 /* style-class section */
 

 .style-text  {
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   padding: 75px;
   height: 300px;
   
}
.style-class {
  align-self: center;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  opacity: .65;

}
 

.text {
  font-size: 25px;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  opacity: .65;


}

/* category-section */
.category {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
 
}



.category-mens {
  width: 50%;
  height: 25vw;
  border-style:solid;
  border-color: white;
  border-width: 4px 4px 4px 0px;
  background:linear-gradient(180deg,rgba(0,0,0,.30) 0,rgba(0,0,0,.30)), url(../images/mens-category.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-trends {
  width: 25%;
  height: 25vw;
  border:  4px solid white;
  background: linear-gradient(180deg,rgba(0,0,0,.30) 0,rgba(0,0,0,.30)),url(../images/trends-category.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-glasses {
  width: 25%;
  height: 25vw;
  border-style:solid;
  border-color: white;
  border-width: 4px 0px 4px 4px;
   background:linear-gradient(180deg,rgba(0,0,0,.30) 0,rgba(0,0,0,.30)), url(../images/glasses-category.jpg); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-sale {
  width: 25%;
  height: 25vw;
  border-style:solid;
  border-color: white;
  border-width: 4px 4px 4px 0px;
  background: linear-gradient(180deg,rgba(0,0,0,.30) 0,rgba(0,0,0,.30)),url(../images/sale-category.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-bags {
  width: 25%;
  height: 25vw;
  border:  4px solid white;
  background:linear-gradient(180deg,rgba(0,0,0,.30) 0,rgba(0,0,0,.30)), url(../images/bags-category.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-womens {
  width: 50%;
  height: 25vw;
  border-style:solid;
  border-color: white;
  border-width: 4px 0px 4px 4px;
  background: linear-gradient(180deg,rgba(0,0,0,.30) 0,rgba(0,0,0,.30)),url(../images/womens-category.jpg); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  


 
  


  


/* category-products */
.ml-products {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  opacity: .65;

}
.the-loop{
  display: flex;
  flex-wrap: wrap;
}
.the-loop div h6 {
  display: flex;
  justify-content: center;
  color: #969696;
  font-family: Raleway, sans-serif;
}
.the-loop div h3 {
  display: flex;
  justify-content: center;
  color: #e2574c;
  font-family: Playfair Display Web,serif;
  
}
.the-loop div p {
  display: flex;
  justify-content: center;
  color: #969696;
  font-family: Raleway, sans-serif;
}
/* category-sign-up */

.sign-up {
  width: 100%;
  height: 24vw;
  border-style: solid;
  background-image: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)),url('../images/wave-bkgd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-color: white;
  border-width: 0px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  

}
 .updates {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: Playfair Display;
  font-size: 35px;
  margin-bottom: 48px;
  color: white;

}
 .text-updates {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 80px;
  color: white;
}  








 





.site-footer {
  
  background: #242424;
  padding: 80px;
  /* height: 180px; */
}
.site-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}

.site-footer p {
  display: flex;
  flex-direction: column;
  color: white;
  align-self: stretch;
}
 /* .site-footer ul {
  display: flex;
  flex-direction: column;
  
  color: white;
  font-size: 20px;
  padding: 20px; }
   */
 /* .site-footer div ul {
   display: flex;
   align-self: flex-end;

   justify-content: column;
 } */

/* .footer-info {
  align-self: flex-start; */
  
  

.social-media li {
  display: flex;
  flex-direction: column;
  color: white;
}
 
.fab {
  display: flex;
}


  


 
  

  
/* Breakpoint */
/* tablet size */
@media screen and (min-width: 600px) {
}

/* desktop size */
@media screen and (min-width: 1240px) {
}
  
